@model IEnumerable<BlackoutViewer.Models.Schedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="d-flex justify-content-between">
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <button class="btn btn-secondary" onclick="OpenImportForm()">Import from Excel</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="schedule-table-body">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<dialog class="border-0 rounded-3" id="data-from-excel-form">
    <partial name="ImportFromExcel" />
</dialog>